body {
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    font-family: Consolas;
}
#header {
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
#title {
    font-family:Consolas;
    font-weight: bolder;
    font-size: 10svh;
    z-index: 100;
} 
#title a {
    text-decoration: none;
}
#title a img {
    width: 3.5svh;
    transition: 500ms ease-in;
}
#title a img:hover {
    transform: rotate(360deg);
}
#role {
    font-size: 2.5svh;
    font-weight: 400;
    height: 2.5svh;
}
@keyframes from-right {
    from {
        left: 150%;
    }
    to {
        left: 80%
    }
}

@keyframes from-right-bg {
    from {
        left: 200%;
    }
    to {
        left: 70%
    }
}
@keyframes from-left-bg {
    from {
        right: 200%;
    }
    to {
        right: 70%
    }
}
#name {
    color: transparent;
    font-weight: bold;
    background: linear-gradient(to right, rgb(255, 72, 0), rgb(255, 153, 0)) text;
}

#name2 {
    color: transparent;
    font-weight: bold;
    background: linear-gradient(to right, #00aeff, #0033be) text;
}
#skills > span, .section-title {
    font-weight: bold;
    font-size: 6svh;
    font-family: Consolas;
    color: white;
    background-color: black;
    transition: 0.4s ease-in;
}
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.skill-window {
    background-color: white;
    width: 15svh;
    height: 15svh;
    border-radius: 10px;
    padding: 1vh 1vh 1vh 1vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    transition: 0.5s ease;
    transform: rotate(90deg);
}
.skill-window span {
    font-weight: bold;
    font-size: 2svh;
}

.skill-window img {
    width: 8svh;/*120px;*/
}
.skill-window:hover {
    background-color: #fbab63; /*fbab63 f18b2f*/
}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-top: 100px;
}
#role-anim {
    background-color: black;
    color: white;
}
#me-photo {
    position: absolute;
    transform: translateX(-50%);
    animation-name: from-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}
#me-photo > img {
    transform: translateY(5%);
}
#me-photo > img, #me-photo-bg > img {
    width: 45vh;
}
#page-body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    height: 100%;
}
#me-photo-bg {
    position: absolute;
    transform: translateX(-50%);
    animation-name: from-right-bg;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
    z-index: -100;
}
#me-photo-bg > img{
    width: 5swh;
    position: absolute;
    top: 25%;
    left: 0;
    transform: scale(4);
    z-index: -10;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
#role-anim {
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    font-family: Silkscreen;
    width: auto;
    border-right: 2px solid black;
    animation: blink 0.5s step-end infinite;
}
@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: auto;
    }
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
#skills {
    opacity: 0;
    font-family: Consolas;
    transition: all 1s ease-in;
}
.appear-in-skills {
    opacity: 1 !important;
    
}
.background-color-set {
    background-color: #ff6c00;
}
.hide-bg {
    visibility: hidden;
}
.type-anim {
    transform: rotate(0deg) !important;
}
#mid-img {
    position: absolute;
    animation-name: from-left-bg;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
    z-index: -100;
    transform: scale(2);
}
#background-color-set2{
 background-color: #f18b2f;
}
#about {
    transition: all 1s ease-in;
    opacity: 0;
    margin-top: 200px;
}
#about p{
    font-size: 2.5svh;
    text-indent: 50px;
    padding-left: 10svw;
    padding-right: 10svw;
}
#projects {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 1s ease-in;
}


.card {
    width: 25svh;
    height: 25svh;
    position: relative;
    border-radius: 10px;
    transition: 200ms ease-in;
    margin: 10px;
    transform: rotate(90deg);
    transition: 0.5s ease;
}
.card img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
.card-desc {
    opacity: 0;
    font-size: 2svh;
    padding: 0 30px 0 30px;
    text-align: center;
    text-shadow:
2px 2px 0 #000,
-2px 2px 0 #000,
-2px -2px 0 #000,
2px -2px 0 #000;
}
.card-title {
    background: linear-gradient(to right, transparent, #08080888, transparent);
    padding: 5px 50px 10px 50px;
    text-align: center;
}
.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5svh;
    font-weight: bold;
    color: white;
    text-shadow:
2px 2px 0 #000,
-2px 2px 0 #000,
-2px -2px 0 #000,
2px -2px 0 #000;
   
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.card:hover > img {
    filter: brightness(0.7);
}
.card:hover .card-desc {
    opacity: 1;
    visibility: visible;
    color: white;
}
#footer {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    font-size: 1.5svh;
    margin-top: 200px;
}
#mid-img-cont {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh; /* Fullscreen size */
    overflow: hidden;
    z-index: -1; /* Send it behind other elements */
}
.scale0 {
    transform: scale(0) !important;
}
#page-body {
    overflow: hidden;
}
#mid-img img {
    width: 45vh;
}